
<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/dashboard">Manage Posts</a></li>
            <li><a href="/topics">Manage Topics</a></li>
            <li><a href="/users">Manage Users</a></li>
            <li><a href="/latest-projects">Manage Projects</a></li>
            <li><a href="/my-services">Manage Services</a></li>
            <li><a href="/faq" >Manage Faqs</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="/add-faq" class="btn admin-btn">Add New Faq</a>
            <a href="/faq" class="btn admin-btn">Manage Faqs</a>
        </div>

        <div class="content">
            <h2 class="page-title">Edit Faq</h2>
            <div>
                <form action="/delete-faq/<%= faq._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn admin-btn">Delete this Faq</button>
                </form>
            </div>
            
            <form action="/edit-faq/<%= faq._id %>" method="post"  class="add-post">

                <div class="input-box">
                    <label for="qstn">Faq</label>
                    <input type="text" name="qstn" class="text-input" value="<%= faq.qstn %>">
                </div>

                <div class="input-box">
                    <label for="Description">Description</label>
                    <textarea name="description" id="" cols="50" rows="10" class="text-input"><%= faq.description %></textarea>
                </div>

                <div class="input-box">
                    <label for="ans">Answer</label>
                    <textarea name="ans" id="mytextarea" cols="50" rows="10" class="text-input"><%= faq.ans %></textarea>
                </div>

              
                <div>
                    <button type="submit" class="btn">Save Changes</button>
                </div>
            </form>

        </div>
    </div>
    
    <main></main>
</div>
