<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/topics">Manage Topics</a></li>
            <li><a href="/dashboard">Manage Posts</a></li>
            <li><a href="/my-shops">Manage Shop</a></li>
            <li><a href="#">Manage Tutorials</a></li>
            <li><a href="/team">Manage Team Members</a></li>
            <li><a href="/faq">Manage Faqs</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="/add-shop" class="btn admin-btn">Add New Shops</a>
            <a href="/my-shops" class="btn admin-btn">Manage Shops</a>
        </div>

        <div class="content">
            <h2 class="page-title">Edit Shop</h2>

            <div>
                <form action="/delete-shop/<%= shop._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn admin-btn">Delete this Shop</button>
                </form>
            </div>

            <% if(messages.error){ %>
                <ul class="error">
                    <li><%= messages.error %></li>
                </ul>
            <% } %>
           
            <form action="/edit-shop/<%= shop._id %>" method="post"  class="add-post">

                <div class="input-box">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="text-input" value="<%= shop.name %>">
                </div>

                <div class="input-box">
                    <label for="description">Description</label>
                    <textarea name="description" id="body" cols="50" rows="5"><%= shop.description %></textarea>
                </div>

                <div class="input-box">
                    <label for="oldPrice">Old Price</label>
                    <input type="text" name="oldPrice" class="text-input" value="<%= shop.oldPrice %>">
                </div>

                <div class="input-box">
                    <label for="newPrice">New Price</label>
                    <input type="text" name="newPrice" class="text-input" value="<%= shop.newPrice %>">
                </div>

                <div class="input-box">
                    <label for="image">Image of item</label>
                    <input type="file" name="image" id="img-input" class="text-input">
                </div>
              
                <div>
                    <input type="submit" class="btn" value="Add-Changes">
                </div>
            </form>

        </div>
    </div>
</div>
