<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/topics">Manage Topics</a></li>
            <li><a href="/dashboard">Manage Posts</a></li>
            <li><a href="/my-shops">Manage Shop</a></li>
            <li><a href="#">Manage Tutorials</a></li>
            <li><a href="/team">Manage Team Members</a></li>
            <li><a href="/faq">Manage Faqs</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="/add-shop" class="btn admin-btn">Add New Item</a>
            <a href="/shops" class="btn admin-btn">Manage Items</a>
        </div>

        <div class="content">
            <h2 class="page-title">Manage Itemss</h2>

            <% if(messages.success){ %>
                <ul class="success">
                    <li><%= messages.success %></li>
                </ul>
                <% } %>
           
            <table>
                <thead>
                    <th>SN</th>
                    <th>Title</th>
                    <th colspan="2">Action</th>
                </thead>
                <tbody>
                    <% shops.forEach(function(shop, index) { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><a href="/my-shops/<%= shop._id %>"><%= shop.name %></a></td>
                            <td><a href="/edit-shop/<%= shop._id %>" class="edit">Edit</a></td>
                            <td>
                                <form action="/delete-shop/<%= shop._id %>?_method=DELETE" method="post">
                                    <button type="submit" class="delete">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
                
            </table>
        </div>
    </div>
</div>
