<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/topics">Manage Topics</a></li>
            <li><a href="/dashboard">Manage Posts</a></li>
            <li><a href="/my-shops">Manage Shop</a></li>
            <li><a href="#">Manage Tutorials</a></li>
            <li><a href="/team">Manage Team Members</a></li>
            <li><a href="/faq">Manage Faqs</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="/create-user" class="btn admin-btn">Add User</a>
            <a href="/users" class="btn admin-btn">Manage users</a>
        </div>

        <div class="content">
            <h2 class="page-title">Manage Users</h2>
           
            <table>
                <thead>
                    <th>SN</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th colspan="2">Action</th>
                </thead>
                <tbody>
                    <% users.forEach(function(user, index) { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= user.username %></td>
                            <td><%= user.isAdmin ? 'Admin' : 'Author' %></td>
                            <td><a href="/edit-user/<%= user._id %>" class="edit">Edit</a></td>
                            <td>
                                <form action="/delete-user/<%= user._id %>?_method=DELETE" method="post">
                                    <button type="submit" class="delete">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
