<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <!-- Whatsap button -->
     <link rel="stylesheet" href="/css/floating-wpp.min.css">
</head>
<body>
    
    <div class="container-body">
        <%- include('../partials/header.ejs')  %>
        
        <main class="main">
            <%- body %>

        </main>
       

        <%- include('../partials/footer.ejs')  %>
    </div>

    <!-- whatsap button -->
    <div class="floating-wpp" id="myDiv"></div>
    <div id="popup">
        <span id="close-btn">&times;</span>
        <div class="popup-content">
          <h3>New Offers!</h3>
          <ul>
            <li>Weekly Plans: <span class="new-price">$20,000UGX</span> or <span class="new-price">55,000UGX</span></li>
            <li>Monthly Plans: <span class="new-price">80,000UGX</span> or <span class="new-price">220,000UGX</span></li>
            <li>Weekend Specials at <span class="new-price">15,000UGX</span> or <span class="new-price">40,000UGX</span></li>
          </ul>
          <p class="offer-text">Don't miss out on these fantastic deals!</p>
        </div>
      </div>

      <div class="social-buttons">
        <!-- <a href="https://www.facebook.com/asio.noah" target="_blank" class="social-button facebook">
            <i class="bx bxl-facebook"></i>
        </a>
        <a href="https://twitter.com/asizynoah" target="_blank" class="social-button twitter">
            <i class="bx bxl-twitter"></i>
        </a> -->
        <a href="https://www.linkedin.com/in/swim-world-34695424b" target="_blank" class="social-button linkedin">
            <i class="bx bxl-linkedin"></i>
        </a>
        <!-- <a href="https://www.youtube.com/channel/UCPr4eONoW3N1JmlwC82buzA" target="_blank" class="social-button youtube">
            <i class="bx bxl-youtube"></i>
        </a> -->
    </div>

    

    
   
    
    
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <script src="https://kit.fontawesome.com/92ebb82932.js" crossorigin="anonymous"></script>

    <script type="text/javascript" defer src="/js/script.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   

    <!-- Whatsapp button -->
    <script type="text/javascript" src="/js/floating-wpp.min.js"></script>
    <script>
        $('#myDiv').floatingWhatsApp({
    phone: '+256705164400',
    popupMessage: 'Hello, how can we help you?',
    message: "Type here",
    showPopup: true,
    showOnIE: false,
    headerTitle: '',
    headerColor: '#1F51FF',
    buttonImage: '<img src="Img/whatsapp.svg" />'
});
    </script>

    <script>
        /* Owl carousel */
  $('.owl-carousel').owlCarousel({
    loop: true,
    margin: 29,
    nav: false,
    dots: false,
    autoplay: true,
    smartSpeed: 1000,
    animateOut: 'fadeOut', 
    animateIn: 'fadeIn', 
    responsive: {
        0:{
            items:1
        },
        576:{
            items:1
        },
        768:{
            items:1
        },
        992:{
            items:1
        },
        1200:{
            items:1
        }
    }
});
    </script>
    <script>
        $(document).ready(function () {
   // Initially, show only the project with data-service="travel-policy"
   $(".project").hide();
   $(".project[data-service='travel-policy']").show();

   // Click event handler for service menu items
   $(".service-menu li").click(function () {
       // Remove the 'active' class from all menu items
       $(".service-menu li").removeClass("active");

       // Add 'active' class to the clicked menu item
       $(this).addClass("active");

       // Get the service category from the 'data-service' attribute
       const serviceCategory = $(this).data("service");

       // Show projects that match the selected service category
       if (serviceCategory === "all") {
           $(".project").show();
       } else {
           // Hide all projects and then show the ones that match the category
           $(".project").hide();
           $(`.project[data-service="${serviceCategory}"]`).show();
       }
   });
});
     </script>
    
</body>
</html>