
<div class="hero">
  <div class="hero-bg"></div>
  <img src="Img/home.jpeg" alt="">
  <div class="overlay">
    <h1>Our Swimming Blogs</h1>
  </div>
</div> 

<div class="main-blog">

  <div class="blog-wrapper">
      <!-- Trending post carousel -->
      <div class="blogs">
          <div class="trending-post">
              <h2 class="trending">Most Recent Posts</h1>
  
                  <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                              
                              
                      <div class="owl-carousel owl-theme">
                            
                        <% popularPosts.forEach(popularPost => { %>
                          <div class="post">
                              <div class="img">
                                  <%- popularPost.img %>
                              </div>
                              <div class="post-info">
                                  <div class="topic">
                                      <h5><%= popularPost.topic %></h5>
                                  </div>
                                  <div class="more-post-info">
                                      <h2><%= popularPost.title %></h2>
                                      <p>
                                          <%= popularPost.preview %>
                                      </p>
                                      <div class="author-date">
                                          <i class='bx bx-user'>Coach Moses</i> 
                                          <i class='bx bxs-calendar'>02-Jan-2024</i>
                                      </div>
                                      <div class="read-more"><a href="posts/<%= popularPost._id %>">Read More</a><i class='bx bx-link-external'></i></div>
                                  </div>
                              </div>
                          </div>
                        <% }) %> 
                      </div>
                      </div>
          </div>
          <div class="other-posts">
            <% data.forEach(post => { %>
              <div class="post">
                  <div class="img">
                      <%- post.img %>
                  </div>
                  <div class="post-info">
                      <div class="topic">
                          <h5><%= post.topic %></h5>
                      </div>
                      <div class="more-post-info">
                          <h2><%= post.title %></h2>
                          <p>
                              <%= post.preview %>
                          </p>
                          <div class="author-date">
                              <i class='bx bx-user'>Coach Moses</i> 
                              <i class='bx bxs-calendar'>02-Jan-2024</i>
                          </div>
                          <div class="read-more"><a href="/post/<%= post._id %>">Read More</a><i class='bx bx-link-external'></i></div>
                      </div>
                  </div>
              </div>
            
            <% }) %>
          </div>

          <% if (nextPage !== null) { %>
          <div class="post-nav">
              <div class="prev">
                  <a href="#"><i class='bx bx-skip-previous' >Prev Page</i></a>
              </div>
  
              <div class="next">
                  <a href="/?page=<%= nextPage %>"><i class='bx bx-skip-next'>Next Page</i></a>
              </div>
          </div>
          
          <% } %>
      </div>
  
      <div class="blogs-side-bar">
          <div class="popular-posts">
              <h2>Most popular Posts</h2>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpeg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpeg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpeg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpeg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
              <div class="popular-post">
                  <div class="img">
                      <img src="/Img/home.jpeg" alt="">
                  </div>
          
                  <div class="popular-post-info">
                      <h3><a href="#">CAN YOU SWIM WITH CONTACTS, AND WHAT ARE THE RISKS?</a></h3>
                      <i class='bx bxs-calendar'>02-Jan-2024</i>
                  </div>
              </div>
          </div>
  
          <div class="topics">
              <h2>Topics</h2>
              <div class="topic">
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
                  <h3><a href="#">FITNESS & WELLNESS</a></h3>
              </div>
          </div>
      </div>
  
  </div>