<div class="main-blog single">

    <div class="hero">
        <div class="hero-bg"></div>
        <img src="/Img/home.jpeg" alt="">
        <div class="overlay">
          <h1><%= data.title %></h1>
        </div>
    </div>
    <div class="content-box">
        <!-- Main Content -->
        <div class="main-content single">
               
            <div class="single-post">

                <p class="author">
                    Posted by:
                    <span><i class='bx bxs-user'>Coach Moses</i></span> &nbsp;
                    <i class='bx bxs-calendar'><%= data.createdAt.toLocaleDateString('en-US') %></i>
                </p>

                <div class="share">
                    <p>Share post on:</p>
                    <div class="share-buttons">
                        <a href="https://api.whatsapp.com/send?text=<%= encodeURIComponent(data.title + ' ' + currentUrl) %>" target="_blank" class="share-button whatsapp"><i class='bx bxl-whatsapp'></i></a>
                        <a href="https://twitter.com/intent/tweet?text=<%= encodeURIComponent(data.title) %>&url=<%= encodeURIComponent(currentUrl) %>" target="_blank" class="share-button twitter"><i class='bx bxl-twitter'></i></a>
                        <a href="https://www.instagram.com" target="_blank" class="share-button instagram"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= encodeURIComponent(currentUrl) %>&title=<%= encodeURIComponent(data.title) %>" target="_blank" class="share-button linkedin"><i class='bx bxl-linkedin'></i></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(currentUrl) %>&quote=<%= encodeURIComponent(data.title) %>" target="_blank" class="share-button facebook"><i class='bx bxl-facebook'></i></a>
                    </div>
                </div>
                
                

                <article>
                    <%- data.body %>
                    
                </article>

                <div class="share">
                    <p>Share post on:</p>
                    <div class="share-buttons">
                        <a href="https://api.whatsapp.com/send?text=<%= encodeURIComponent(data.title + ' ' + currentUrl) %>" target="_blank" class="share-button whatsapp"><i class='bx bxl-whatsapp'></i></a>
                        <a href="https://twitter.com/intent/tweet?text=<%= encodeURIComponent(data.title) %>&url=<%= encodeURIComponent(currentUrl) %>" target="_blank" class="share-button twitter"><i class='bx bxl-twitter'></i></a>
                        <a href="https://www.instagram.com" target="_blank" class="share-button instagram"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= encodeURIComponent(currentUrl) %>&title=<%= encodeURIComponent(data.title) %>" target="_blank" class="share-button linkedin"><i class='bx bxl-linkedin'></i></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(currentUrl) %>&quote=<%= encodeURIComponent(data.title) %>" target="_blank" class="share-button facebook"><i class='bx bxl-facebook'></i></a>
                    </div>
                </div>
            </div>

            <div class="comments">
                <h3><span>Comments</span></h3>
                <ul>
                    <% if (comments && comments.length > 0) { %>
                        <% comments.forEach(function(comment) { %>
                            <li>
                                <div class="comment-info">
                                    <strong>
                                        <i class='bx bxs-user'></i>
                                        <%= comment.author.name %>
                                    </strong> <br>
                                    <span class="comment-date"> <%= new Date(comment.timestamp).toDateString() %></span>
                                </div>
                                <p><%= comment.comment %></p>
                                <!-- Reply Button -->
                                <button class="reply-button" data-comment-id="<%= comment._id %>">Reply</button>
                                <!-- Reply Form -->
                                <div class="hidden" data-comment-id="<%= comment._id %>">
                                    <form action="/post/<%= data._id %>/add-comment" method="POST" class="comment-form reply">
                                        <div class="form-group">
                                            <label for="name">Your Name (Required):</label>
                                            <input class="text-input" type="text" name="name" id="name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Your Email (Required):</label>
                                            <input class="text-input" type="email" name="email" id="email" required> <br>
                                            <span>Your email will not be published.</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Your Reply:</label>
                                            <textarea name="comment" id="comment" rows="3" cols="50"></textarea>
                                        </div>
                                        <input type="hidden" name="parentId" value="<%= comment._id %>">
                                        <button type="submit" class="btn-comnent">Post Reply</button>
                                    </form>
                                </div>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <p>No comments yet.</p>
                    <% } %>
                </ul>
            </div>
            
            <div class="comments">
                <h3><span>Add a Comment</span></h3>
                <form action="/post/<%= data._id %>/add-comment" method="POST" class="comment-form">
                    <div class="form-group">
                        <label for="name">Your Name (Required):</label>
                        <input class="text-input" type="text" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email (Required):</label>
                        <input class="text-input" type="email" name="email" id="email" required>
                        <span>Your email will not be published.</span>
                    </div>
                    <div class="form-group">
                        <label for="comment">Your Comment:</label>
                        <textarea name="comment" id="comment" rows="3" cols="50"></textarea>
                    </div>
                    <button type="submit" class="btn-comment">Post Comment</button>
                </form>
            </div>
            

            
        </div>

    </div>

    <div class="more-posts">
        <h2>Other Posts</h2>
        <div class="more-posts-container">
            <% otherPosts.forEach(post => { %>
                <div class="post">
                    <div class="img">
                      <img src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="">
                    </div>
                    <div class="post-info">
                        <div class="topic">
                            <h5><%= post.topic %></h5>
                        </div>
                        <div class="more-post-info">
                            <h2><%= post.title %></h2>
                            <p>
                                <%= post.preview %>
                            </p>
                            <div class="author-date">
                                <i class='bx bx-user'>Coach Moses</i> 
                                <i class='bx bxs-calendar'>02-Jan-2024</i>
                            </div>
                            <div class="read-more"><a href="/post/<%= post._id %>">Read More</a><i class='bx bx-link-external'></i></div>
                        </div>
                    </div>
                </div>
              
              <% }) %>
        </div>
        <% if (nextPage !== null) { %>
            <div class="post-nav">
                <div class="prev">
                    <a href="#"><i class='bx bx-skip-previous' >Prev Page</i></a>
                </div>
    
                <div class="next">
                    <a href="/post/<%= data._id %>?page=<%= nextPage %>"><i class='bx bx-skip-next'>Next Page</i></a>
                </div>
            </div>
            
            <% } %>
    </div>
</div>